---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$pesticide-debug: false;
@import "pesticide";
 // /bower_components/base/src/scss/
@import "base/src/scss/base.scss";


$fontFamily:'Open Sans', sans-serif;

$sizeSmartPhone:719px; // Mobile devices (breakpoint set at max 719px width)
$sizeSmallScreen:980px; // Tablet devices (breakpoint set at max 980px width)
$sizeNormalScreen:1140px; // Desktop devices (breakpoint set at max 1140px width)
//$sizeBigScreen : bigger then normalscreen -> HD


body,section{
  font-family:$fontFamily ;
  font-weight: 400;
  // margin-left: 0.5em;
  // margin-right: 0.5em;
}

h1,h2,h3,h4,h5,h6{
  font-family:$fontFamily ;
  // font-weight: 700;
}


header{
    text-align: center;
    
    font-family:$fontFamily ;
    font-weight: 700;
    font-size: 3em;
    color: #333333;
    line-height: 1em;  
    a{
        color: #333333;  
        padding-top: 0.4em;
    }
    @media only screen and (max-width: $sizeSmartPhone + 1) {
      font-size: 1.0em;
      a{
          color: #333333;  
          padding-top: 0.8em;
      }
    }
    @media only screen and (min-width: $sizeSmartPhone + 2) and (max-width: $sizeNormalScreen + 1) {
      font-size: 1.9em;
      a{
          color: #333333;  
          // padding-top: 0.6em;
      }
    }
}
a{
    text-decoration: none;   
    color: #795740;
}
a:hover{
  text-decoration: underline;
}

footer{
    text-align: center;
    margin-bottom: 1em;
}

iframe{ // gmap
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    height: 250px;
    width: 100%;
    @media only screen and (max-width: $sizeSmartPhone + 1) {
      margin-top: 0em;
      //     height: 8em;
    }
    // @media only screen AND (max-width: $sizeSmartPhone) {
    
    // }	
}

#who{
    text-align: center;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    @media only screen and (max-width: $sizeSmartPhone + 1) {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
}
#where{
  @media only screen and (max-width: $sizeSmartPhone + 1) {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
.portret{
  img{
    @media only screen and (max-width: 769px) { 
        width: 100%;
    }
    @media only screen and (min-width: 769px) { 
      // width: 300px;
      float: right;
      // margin-left: 15px;
      // margin-bottom: 15px;
    }
  }
}

.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}