<picture>
	<source srcset="/img/dragon.webp" media="(min-width: 769px)" type="image/webp">
	<source srcset="/img/dragon.png" media="(min-width: 769px)">
	<source srcset="/img/dragon_mobile.webp" type="image/webp">
	<img srcset="/img/dragon_mobile.png" alt="Draak">
</picture>
<a href="{{ site.baseurl }}/">{{ site.title }}</a>
<picture >
	<source srcset="/img/dragon.webp" media="(min-width: 769px)" type="image/webp">
	<source srcset="/img/dragon.png" media="(min-width: 769px)">
	<source srcset="/img/dragon_mobile.webp" type="image/webp">
	<img srcset="/img/dragon_mobile.png" alt="draak" class="flip" >
</picture>
